@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
	--breakpoint-xmd: 55rem;
	--breakpoint-xlg: 110rem;
}

@layer utilities {
	.custom-scrollbar {
		&::-webkit-scrollbar {
			width: 8px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: transparent;
			border-radius: 10px;

			transition: background-color 0.2s ease;
		}

		&:hover::-webkit-scrollbar-thumb {
			background-color: var(--color-neutral-500);
		}

		@media (prefers-color-scheme: dark) {
			&:hover::-webkit-scrollbar-thumb {
				background-color: var(--color-neutral-700);
			}
		}
	}
}
